<% if @post.comments.size > 0 %>
  <h2>Comments</h2>
  <% for comment in @post.comments %>
    <div class="well" id="commentswell">
    <h3><%= comment.name %></h3>
    <p><%= comment.body %></p>
    </div>
  <% end %>
<% end %>